*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.logo{
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: #ab226d;
    position: relative;
    animation: girar 5s ease normal;
}
.logo .maiorq{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
    animation: girar-2 3s ease-in-out 2s normal;
}
.logo .maiorq::after,
.logo .maiorq::before{
    content: "";
    width: 30px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.logo .maiorq::before{
    width: 8px;
    height: 30px;
    left: initial;
    right: 0;
}
.logo .underline{
    width: 25px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
body span.maior {
    
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes girar {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(3600deg) scale(2);
    }
}

@keyframes girar-2 {
    0% {
        transform: rotate(45deg) translateY(-50%);


    }
    100% {
        transform: rotate(765deg) translateY(-50%);
    }
}

/* body span.logo {
    user-select: none;
    display: flex;
    width: 50px;
    height: 50px;
    font-weight: 1000;
    border: 1px solid #000;
    animation: girar 5s ease normal;
}

body span.logo .maiorq {
    display: flex;
    align-items: center;
    margin-left: 0.4rem;
    font-size: 32px;
    animation: girar 10s ease normal;
}

body span.logo .underline {
    display: flex;
    align-items: end;
    margin-left: 0.3rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 1000;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
