* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#ab226d;
}

.logo {
    width: 100px;
    height: 100px;
    z-index: 99;
    position: absolute;
    border-radius: 18px;
    background-color: #ab226d;
    /* animation: girar / duration / timing-function / delay / iteration-count / direction / fill-mode; */
}

.logo .maiorq {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
}

.logo .maiorq::after,
.logo .maiorq::before {
    content: "";
    width: 30px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.logo .maiorq::before {
    width: 8px;
    height: 30px;
    left: initial;
    right: 0;
}

.logo .underline {
    width: 25px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.logo::before 
{
    content: '';
    display: flex;
    position: relative;
    width: 110px;
    height: 64px;
    top: -59px;
    margin-left: -4px;
    background: #ab226d;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
}